<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="submitData()">halo</button>
</body>
<script>
    function submitData() {
        $.ajax({   //最基本的请求方式，需要自己设定一些参数
            type: 'POST',   //设定请求方法
            url: "/demo1_war_exploded/submit",   //请求地址
            data: JSON.stringify({username: "测试", password: "18"}),  //转换为JSON字符串进行发送
            success: function (data) {
                window.alert(JSON.stringify(data))
            },
            contentType: "application/json"  //请求头Content-Type一定要设定为JSON格式
        })
    }
</script>
</html>