<!DOCTYPE html>
<html lang="en">
<script src="https://cdn.bootcdn.net/ajax/libs/vue/3.2.47/vue.cjs.js"></script>
<!-- 引入样式 -->
<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
<!-- 引入组件库 -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<head>
    <meta charset="UTF-8">
    <title>admin的book</title>
</head>
<body>
<div>
    <div class="card-body">
        <div class="chart-holder">
            <div class="table-responsive">
                <table class="table table-styled mb-0">
                    <thead>
                    <tr>
                        <th>#ID</th>
                        <th>标题</th>
                        <th>简介</th>
                        <th>价格</th>
                        <th>删除</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book : ${bookList}">
                        <td th:text="${book.getBid()}">1</td>
                        <td th:text="${book.getTitle()}">书籍名称</td>
                        <td th:text="${book.getDesc()}">书籍简介</td>
                        <td th:text="${book.getPrice()}">价格</td>
                        <td class="relative">
                            <a class="action-btn " th:href="@{/api/admin/del-book?id=}+${book.getBid()}">
                                <svg class="default-size " viewBox="0 0 341.333 341.333 ">
                                    <g>
                                        <g>
                                            <g>
                                                <path d="M170.667,85.333c23.573,0,42.667-19.093,42.667-42.667C213.333,19.093,194.24,0,170.667,0S128,19.093,128,42.667 C128,66.24,147.093,85.333,170.667,85.333z "></path>
                                                <path d="M170.667,128C147.093,128,128,147.093,128,170.667s19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 S194.24,128,170.667,128z "></path>
                                                <path d="M170.667,256C147.093,256,128,275.093,128,298.667c0,23.573,19.093,42.667,42.667,42.667s42.667-19.093,42.667-42.667 C213.333,275.093,194.24,256,170.667,256z "></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>